<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Scrape the "News"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    

    <div class="container">
        {{{ body }}}
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</body>
</html>