<div class="row">
  <div class="col-md-12 my-5 text-center">
    <a href="/scrape">
      <div class="btn btn-success p-2">Scrape</div>
    </a>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-12">
    {{#each articles}}
    <a href="{{link}}">
      <div class="card text-center p-3">
        <h4>{{title}}</h4>
      </div>
    </a>
    {{/each}}
  </div>
</div>